input[type=text] {
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=button] {
    background-color: crimson;
    padding: 14px 20px;
    margin: 8px 0;
    border: black;
    cursor: pointer;
    width: auto;
}
.required{
    color: crimson;
}
.textarea-field{
    width:250px;
    height:100px;
}
fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: antiquewhite;
}

td,tbody {
    text-align: left;
    padding: 8px;
    background-color: #FFE5E5;
}


